<!--
/**
 *	OtakuMax MVP Based Archeticture
 * 	@author mashirualexis
 */
-->
<!DOCTYPE html>
<html>
<head>
	<title><?php $this->getPageTitle(); ?></title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<?php
		/**
		 *	Load CSS and JS to Header
		 */
		$this->getCssFiles();
		$this->getJsFiles(); 
	?>
</head>

<body>

<?php
/**
 *	Get all the blocks
 */
$this->getBlock();
?>

</body>
</html>